compactDisc-form.vtl

<h3>Add a new CD</h3>
<form class="form-group" action="/compactDiscs" method="post">
  <label for="title">CD</label>
  <input type="text" name="title" id="title" required>

  <button type="submit" class="btn btn-primary">Add CD</button>
</form>
